<app-profile></app-profile>
<div class="container">
  <a href="">
    <mat-card>
      <img mat-card-sm-image src="../../assets/learn.png" />
      <mat-card-actions>
        <button mat-button>
          <strong>LEARN</strong>
        </button>
      </mat-card-actions>
    </mat-card>
  </a>
  <mat-card>
    <img mat-card-sm-image src="../../assets/contribute.png" />
    <mat-card-actions>
      <button mat-button>
        <strong>CONTRIBUTE</strong>
      </button>
    </mat-card-actions>
  </mat-card>
</div>