.container{
    margin-top: 2rem;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 10px;
}
.example-card{
    padding-right: 60px;
    padding: 40px;
}