<div class="body">
<br>
<h2 style="font-size: 30px;font-family: cursive;"><b>Hello {{name}}</b></h2><br><br>
<div class="hero-image">
  <div class="hero-text">
    <div class="example-button-row">
      <button  mat-raised-button class="button" routerLink="/learner">Test Your Knowledge</button>
      </div>
  </div>
</div><br><br><br><br><br>
<!-- <div class="example-button-row">
  <button mat-raised-button color="primary">Test Your Knowledge</button>
  </div> -->
<h1>Your Work...</h1>
<div class="card">
<button style="border: none;"><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title style="font-size: 20px;">Total Tests Taken</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header><br>
    <mat-card-content>
      <h2 style="font-size: 30px;">13</h2>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card></button>
<button style="border: none;"><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title style="font-size: 20px;">Total Contributions</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header><br><br>
    <mat-card-content>
      <h2 style="font-size: 30px;">6</h2>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card></button>
<button style="border: none;"><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title style="font-size: 20px;">Total Subscriptions</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header><br><br>
    <mat-card-content>
      <h2 style="font-size: 30px;">7</h2>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card></button>
 </div> <br><br>

</div>