<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-list>
            <mat-list-item><button mat-button (click)="clickedContributions()">Your Contributions</button></mat-list-item>
            <mat-list-item><button mat-button (click)="clickedAddLP()">Add Learning Plan</button></mat-list-item>
            <mat-list-item><button mat-button (click)="clickedAddResource()">Add Resource</button></mat-list-item>
           </mat-list>
    </mat-drawer>
    <mat-drawer-content>
      <app-contribute *ngIf="hasClickedContributions && !hasClickedAddLP && !hasClickedAddResource"></app-contribute><br><br><br>
      <app-addlearningplan *ngIf="hasClickedAddLP"></app-addlearningplan>
      <app-addresource *ngIf="hasClickedAddResource"></app-addresource>
    </mat-drawer-content>
  </mat-drawer-container>
  
