.buttons{
    display: flex; 
    flex-wrap: wrap;
    padding-top: 20px;
    flex-direction: row;
}

 button{
    margin: 10px;
    padding: 10px;
 }
 .column {
    flex: 50%;
    justify-content: space-evenly;
}

.example-header-image {
    background-image: url('../../assets/images/profile.png');
    background-size: cover;
  }

  img{
    height: 60px; 
    width: 60px;
    margin: auto;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
  }
  .flex{
      
      flex: 20%;
  }

button{
    background-color: rgb(33, 158, 207)
}

