.flex-container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content:space-around
  }
  .flex-container1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
  }
  .example-card
  {
      flex: 20%;
  }


  .flex{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: center;
  }

  .flex1{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: center;
  }

  .wrapper {
      text-align: center;
  }

  .button-flex{
      margin-left: 40px;
      margin-right:16px
  }

  /* .cards {
    display: flex;
    align-items: stretch;
    flex-direction: row;
  } */
  .cards {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* align-items: center;
    align-content: center;
    justify-content: center; */
    /* width: 100%; */
 }
 .cards a:hover{
  text-decoration: none;
}
  
  .scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  .scrolling-wrapper::after{
    margin-right: 10px;
  }

  .askq {
    text-align: center;
  }