<app-navbar (onSignIn)="handleEvent($event)"></app-navbar>
<div *ngIf="!hasSignedIn">
  <div class="img">
    <img class="d-block" src="assets/image/1.jpg" alt="First slide">
  </div>
  <div class="flex-container">
    <div class="flex">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="font-size: 20px">Learn</mat-card-title>
          <mat-card-subtitle>Why should you Learn?</mat-card-subtitle>
        </mat-card-header><br><br>
        <mat-card-content>
          <p>This Plan helps you to understand and apply the concepts of Technologies</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="flex-container">
    <div class="flex">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="font-size: 20px">Contribute</mat-card-title>
          <mat-card-subtitle>Why should you contribute?</mat-card-subtitle>
        </mat-card-header><br><br>
        <mat-card-content>
          <p>This Plan helps you to understand and apply the concepts</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <h2>Popular Technologies</h2>
  <div class="flex-container1">
    <div class="flex1" *ngFor="let item of content">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="font-size: 20px">Java</mat-card-title>
          <mat-card-subtitle>By John</mat-card-subtitle>
        </mat-card-header><br><br>
        <mat-card-content>
          <p>This Plan helps you to understand and apply the concepts of JAVA</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<router-outlet *ngIf="hasSignedIn"></router-outlet>
