<div class="cont">
<mat-toolbar color="primary">
<div class="flex-container2">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>Menu</mat-icon>
    </button>
  </div>
  <div class="flex0" style="flex-grow: 7">
    <a *ngIf="hasSignedIn" mat-button class="companyName" routerLink="/profile">
      <span>PotentiOMeter</span>
    </a>
    <a *ngIf="!hasSignedIn" mat-button class="companyName" routerLink="/profile">
      <span>PotentiOMeter</span>
    </a>
  </div>
  
  <div class="flex2" fxShow="true" fxHide.lt-md="true" style="flex-grow: 3">
    <!-- <a mat-button routerLink="/Learn">Learn</a>
    <a mat-button routerLink="/Contribute">Contribute</a> -->
    <a *ngIf="!hasSignedIn" mat-button href="#learn">Learn</a>
    <a  *ngIf="!hasSignedIn" mat-button href="#contribute">Contribute</a>
    <a  *ngIf="!hasSignedIn" mat-button href="#blooms">Bloom's Taxonomy</a>
    <a  *ngIf="hasSignedIn" mat-button routerLink="/learner">Learn</a>
    <a  *ngIf="hasSignedIn" mat-button routerLink="/contribute"  (click)="clickedContribute()">Contribute</a>
    <button mat-button *ngIf="hasSignedIn" [matMenuTriggerFor]="menu">My Profile</button>
    <mat-menu #menu>
        <button mat-menu-item style="font-size: 15px;">View my Profile</button>
      <button mat-menu-item style="font-size: 15px;">My Reports</button>
      <button mat-menu-item style="font-size: 15px;">Settings</button>
      <button mat-menu-item style="font-size: 15px;">Sign Out</button>
    </mat-menu>
     <!-- <a  *ngIf="hasSignedIn" mat-button href="#blooms">Bloom's Taxonomy</a>  -->
    <!-- <button mat-button *ngIf="hasSignedIn">My Profile</button> -->
    <button mat-button *ngIf="!hasSignedIn" (click)="openDialog(true)">LogIn</button>
    <button mat-button *ngIf="!hasSignedIn" (click)="openDialog(false)">SignUp</button>
</div>
<!-- <div class="flex3">
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button>
        <div class="topnav">
          <div class="search-container">
            <form action="/action_page.php">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><mat-icon>search</mat-icon></button>
            </form>
          </div>
        </div>
      </a></div>
  </div> -->
</div>
</mat-toolbar>
<mat-sidenav-container fxFlexFill class="example-container">
<mat-sidenav color="primary" #sidenav fxLayout="column" mode="side" opened="false" fxHide.gt-sm="true">
  <div fxLayout="column">
    <form class="example" style="margin:auto;max-width:300px">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">Submit</button>
    </form>
    <a mat-button routerLink="/Learn">Learn</a>
    <a mat-button routerLink="/contribute">Contribute</a>
    <button mat-button (click)="openDialog(true)">LogIn</button>
    <button mat-button (click)="openDialog(false)">SignUp</button>
  </div>
</mat-sidenav>

<mat-sidenav-content fxFlexFill>

  </mat-sidenav-content>

</mat-sidenav-container> 

</div> 
  <app-home *ngIf="!hasSignedIn"></app-home>
  <mat-toolbar color="primary"  *ngIf="hasClickedContribute"></mat-toolbar>
    <mat-toolbar color="primary" *ngIf="hasClickedContribute"></mat-toolbar>
    <router-outlet *ngIf="hasSignedIn"></router-outlet>

    