/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding-top:64px;
}
.custom-dialog-container .mat-dialog-container {
    padding:0;
}
